:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d12525;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout */
#root {
  background-color: #4b4031;
  text-align: center;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  aside {
    flex: 0 0 10vw;
  }

  article {
    display: flex;
    flex-direction: column;
  }
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.nav {
  position:relative;
  width: 10vw;
  background-color: #111;
  transition: 0.5s;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  overflow: auto;
  background-color: #111;
}

.info {
  padding-bottom: 200px;
}
/* */

/* Links and Buttons */
a {
  padding: 2px;
  font-weight: 500;
  color: #c56301;
  text-decoration: inherit;
}

a:hover {
  color: #f2b553;
}

h1, h2, h3 {
  color: #c56301
}

button {
  height: auto;
  min-width: 20%;
  border-radius: 8px;
  margin: 30px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c56301;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #673300;

  border-color: #1a1000;
}
/* */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  margin-top: 0px;
  font-size: 3em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
}

h3 {
  font-size: 2em;
  line-height: 1.1;
}

h4 {
  font-size: 1.5em;
  line-height: 1.1;
}


/* Logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #cb7701aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

i, p, b {
  font-size: 20px;
}

/* Tables */
table, th, td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  font-size: large;
}

th {
  text-align: left;
}

.center {
  margin-left: auto;
  margin-right: auto;
}